/*NAV bar*/
body {
    font-family: Raleway;
    background-color: black;
    color: white;
}

.navbar {
    background-color: transparent;
    font-family: "Roboto", sans-serif;
    position: fixed;
    width: 100vw;
    z-index: 1;
}

/*Quienes_Somos*/
#Quienes-Somos {
    font-family: "Roboto";
    background-color: black;
}

/*Destacados*/
#Destacados {

    font-family: "Roboto";
    
}

/*Contacto*/
#Contacto h1 {
    font-family: "Roboto";
    font-weight: 52px;
}


/*Footer*/

#Footer h1 {
    font-family: "Roboto";
}
#Footer a {
    color: white;
    text-decoration: none;
}
